* {
    font-family: 'Nanum Gothic Coding';
}

.header {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.headerImage {
    width: '50px';
    height:'50px';
}

.footer {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.border {
    width: 100px;
    height: 2px;
    color: black;
}

.openSeaContainer {
    margin-top: 10px;
    width: 100%;
}

.collectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.nftContainer {
    margin-top: 10px;
    position: relative;
}

.nftImage {
    width: 22em;
    height: 22em;
}

.sendEtherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer { 
    position: relative;
    width: 200px;
    height: 50px;
}

.giveMeButton {
    width: 200px;
    height: 50px;
    color: black;
    background: white;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px 5px black, -4px 4px black, -3px 3px black;
    border: 1px solid black;
    transition: margin-top 0.3s ease, 
				margin-left 0.3s ease, 
				box-shadow 0.3s ease;
}

.giveMeButton:active {
    margin-left:-10px;
	margin-top:10px;
    box-shadow: 0px 0px 0px black,0px 0px 0px black,
  				0px 0px 0px black,0px 0px 0px black;
}

.minus, .plus{
    width:40px;
    height:40px;
    margin-top: 10px;
    display: inline-block;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input{
    height:30px;
    width: 100px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    vertical-align: middle;
}

input:active{
    outline: none;
}

input:focus{
    outline: none;
}